<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/submit" method="POST">
        <h1>Login</h1><br>
        <h3>Please enter your name and password</h3>
        <p>Name:</p><input type="text" name="username"><br>
        <p>Password:</p><input type="password" name="password"><br>
        <p>admin:</p><input type="checkbox" name="admin" id="admin">
        <input type="submit" value="Login">
    </form>
</body>
</html>