<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', path='css/login.css') }}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="hamburger"></div>
            <p class="app_titel">
                <p class="gennba">現場直送！
                    <p class="todokerukun">声届けるくん</p>
                </p>
            </p>
        </div>
    <div class="speace"></div>
    <h1>Login</h1><br>
    
        <form action="/submit" method="POST">
            <div class="formbox">
                <p>Please enter your name and password</p>
                <div class="input_speace"></div>
                <p class="input_name">Name:</p><input type="text" name="username"><br>
                <p class="input_name">Password:</p><input type="password" name="password"><br>
                <!-- <p>admin:</p><input type="checkbox" name="admin" id="admin"> -->
            </div>
            <input type="submit" value="Login" class="btn-login btn--radius">
        </form>
    

    <!-- フッター -->
    <div class="footer">
        <!-- <p style="color: white;">&copy; 2024 My Website</p> -->
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>