<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech</title>
</head>
<body>
    <textarea id="text">
        こちらがスムルズナの手首拘束トッピングです。
    </textarea>
    
    <button id="speak-btn">再生</button>
    <button id="cancel-btn">停止</button>
    <button id="pause-btn">一時停止</button>
    <button id="resume-btn">再開</button>
    <!-- <h1>Text to Speech</h1>
    <form id="ttsForm" action="/create_voice_from_text/" method="post">
        <label for="text">Enter Text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Convert to Voice</button>
    </form>

    <h2>Generated Audio:</h2>
    <audio id="audioPlayer" controls>
        <source id="audioSource" src="" type="audio/wav">
        Your browser does not support the audio element.
    </audio> -->

    <script src="/static/js/voice.js"></script>
</body>
</html>
